.container {
  position: fixed;
  bottom: 7%;
  right: 3%;
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: solid black 2px;
  cursor: pointer;
}
.image {
  width: 50px;
}

@media (orientation: landscape) {
  .container {
    bottom: 7%;
    right: 1%;
  }
}