.container {
  display: flex;
  flex-direction: column;
  background-color: #000;
  transition: transform ease-in-out .8s;
  max-width: 50vw;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  line-height: 3vh;
  letter-spacing: .5px;
  border: #FFFFFF 2px solid;
  position: absolute;
  bottom: 5vh;
  right: 0vw;
}
.description {
  margin: 1vh 0;
}
.link {
  color: yellow;
}
.panelOn {
  transform: translateX(0vw);
}
.panelOff {
  transform: translateX(60vw);
}

@media (min-width: 1000px) {
  .container {
    max-width: 40vw;
  }
}
