html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
  letter-spacing: 0.09vw;
  font-size: 12px;
}
html,
body,
#root,
.App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
