html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #000000;
  max-height: 100vh;
  overflow: hidden;
  letter-spacing: .09vw;
  font-size: 12px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}